<div>
    <form action="/register" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div>
            <label for="name">İsim</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="password">Şifre</label>
            <input type="password" name="password">
        </div>
        <input type="submit" value="Kayıt ol">
    </form>
</div>